* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #c8e9ff;
  color: #555;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.top {
  flex-grow: 1;
}

img {
  display: block;
  margin: auto;
}
